<h1>Tasks</h1>

<ol>
  <% @tasks.each do |task|%>
  <li>
    <input type="checkbox"><a href="/tasks/<%= task.id %>"><%= task.title %></a>
  </li>
  <% end %>
</ol>
<a href="tasks/new">Add New Task</a>